.card-body {
    background: lightgoldenrodyellow;
    margin: 15px;
    padding: 10px;
    border: 1.5px solid black;
    border-radius: 10px;
    box-shadow: 2px 2px
}

.red-btn-success {
    background: red;
    color: white;
    margin: 15px
}