body {
  margin: 0;
  padding: 70px 0 0 0;
  font-family: sans-serif;
<<<<<<< HEAD
  padding-top: 200px
=======
  padding: 200px
>>>>>>> master
}

.card-link {
  margin: 12px 0 0 0;
  font-size: 0.7em;
}